<div>
</div>

<div class="card text-center">
  <div class="card-header">
    <h4>Add New friend</h4>
  </div>
  <div class="card-body">
    <p class="card-text"><%= render "form", friend: @friend %></p>
  </div>
  <div class="card-footer text-muted">
    <%= link_to "Back to friends", friends_path, class:"btn btn-success" %>
  </div>
</div>
  <br>